body {
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  padding: 20px;
}

.app-title{
  font-size: 2.75rem;
  line-height: 1.18;
  color: #253858;
  letter-spacing: 0;
  font-weight: 500;
}

.task-list-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.task-list {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f4f5f7;
  box-shadow: 0 10px 14px rgb(0 0 0 / 10%);
}

.task-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.btn-1{
  font-weight: 500;
  background: #0052cc;
  border: 1px solid #0052cc;
  color: #fff;
  min-height: 2.5rem;
  line-height: 1.5;
  padding: 0.4375rem 16px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  margin: 5px;
}

.btn-2{
  font-weight: 500;
  background: #fff;
  border: 1px solid #0052cc;
  color: #0052cc;
  min-height: 2.5rem;
  line-height: 1.5;
  padding: 0.4375rem 16px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  margin: 5px;
}

.input-1{
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  font-size: 12px;
  height: 22px;
  line-height: 16px;
  vertical-align: middle;
  width: 100px;
}

.btn-export{
  font-weight: 800;
  background: red;
  color: #fff;
  min-height: 2.5rem;
  line-height: 1.5;
  padding: 0.4375rem 16px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  border: none;
}
